/** Resetando navegador */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

/**Fixando o video como background */

.paisagem{
    position: fixed;
}